/*  Base styles */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #777;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

html > * {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: teal;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background: #777;
}

.bg-video {
  /* https://stackoverflow.com/questions/22330108/html-video-with-css-position-fixed-and-background-attachment-fixed-on-chrome */
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
}

.logo img {
  width: 15rem;
  height: auto;
}

/* Header */

.header {
  height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #ccc;
}

.header__title {
  font-size: 7rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #ccc;
  animation: slideFadeIn 1s ease-in-out 0.5s forwards;
  opacity: 0;
  margin-top: -10rem;
}

.header__subtitle {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
  animation: slideFadeIn 1s ease-in-out 0.5s forwards;
  opacity: 0;
}

.header nav {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
}

.header nav ul {
  padding: 0;
  margin: 0;
}

.header nav > * {
  display: flex;
}

/* Navigation  */

.nav__item {
  font-size: 2rem;
  padding: 1rem 2.5rem;
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  opacity: 0.7;
}

.nav__item:hover {
  border-bottom: 2px solid #7d97ad;
  opacity: 1;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Hero */

.hero {
  width: 100%;
  height: 100vh;
}

.hero__img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.about {
  padding: 5rem 7rem;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 75vh;
}

.content {
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.about__me {
  font-size: 1.9rem;
  padding: 0 5rem;
  flex: 0 0 45%;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 50%;
}

.skills__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__item img {
  width: 160px;
  height: auto;
}

.skills__item.skills__item--big img {
  width: 250px;
  height: auto;
}

.work {
  display: flex;
  padding: 5rem 7rem;
  max-width: 100%;
  /* height: 75vh; */
  flex-direction: column;
  align-items: center;
  background: lightgray;
  justify-content: space-between;
}

.work .work__showcase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  /* padding: 3rem; */
  /* background: #000; */
}

.work__showcase__item {
  /* border: 1px solid #000; */
  flex-basis: 24%;
  margin: 0;
}

.work__showcase__item img {
  max-width: 100%;
}

.contact {
  padding: 3rem 7rem;
  max-width: 100%;
  background: #ccc;
  height: 70vh;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.contact .heading {
  width: 20%;
  margin: 0 auto;
}

.contact__form {
  width: 60%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
}

.contact__form label {
  margin-bottom: 1rem;
}

.contact__form textarea {
  width: 50%;
  height: 15rem;
  background: #fcc;
  border: none;
  outline: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact__form input[type='submit'] {
  border: none;
  width: 15rem;
  height: 6.5rem;
  border-radius: 10rem;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.5rem 5rem;
  text-align: center;
  vertical-align: middle;
}

.contact__form input:not([type='submit']) {
  font-family: inherit;
  width: 50%;
  border: none;
  background: #fcc;
  /* width: 30%; */
  height: 2rem;
  outline: none;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

/* footer */

footer {
  margin-top: auto;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background: #000;
}

footer nav ul {
  display: flex;
  margin: 0;
  justify-content: center;
}

/* Animations  */

@keyframes slideFadeIn {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/* Typography */

.heading {
  font-size: 3.5rem;
  border-bottom: 2px solid #000;
  text-align: center;
  padding: 1rem;
}

.heading h3 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

/* Sprite CSS */
.bg-css3 {
  width: 365px;
  height: 512px;
  background: url('../images/css_sprites.png') -1350px -1082px;
}

.bg-gulp {
  width: 600px;
  height: 600px;
  background: url('../images/css_sprites.png') -730px -1082px;
}

.bg-html5 {
  width: 550px;
  height: 550px;
  background: url('../images/css_sprites.png') -1902px -630px;
}

.bg-js {
  width: 1052px;
  height: 1052px;
  background: url('../images/css_sprites.png') -10px -10px;
}

.bg-logo1 {
  width: 500px;
  height: 500px;
  background: url('../images/css_sprites.png') -1902px -1200px;
}

.bg-nodejs {
  width: 700px;
  height: 648px;
  background: url('../images/css_sprites.png') -10px -1082px;
}

.bg-placeholder_image {
  width: 800px;
  height: 600px;
  background: url('../images/css_sprites.png') -1082px -10px;
}

.bg-react_redux {
  width: 800px;
  height: 378px;
  background: url('../images/css_sprites.png') -1082px -630px;
}

.bg-sass {
  width: 600px;
  height: 600px;
  background: url('../images/css_sprites.png') -1902px -10px;
}

.bg-webpack {
  width: 400px;
  height: 400px;
  background: url('../images/css_sprites.png') -10px -1750px;
}
